Solutions/PRODAFT USTA - IoC Threat Intelligence/Playbooks/PRODAFTUstaIoC-Backfill/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "PRODAFT USTA - IoC Backfill",
    "description": "On-demand backfill playbook for the PRODAFT USTA - IoC Threat Intelligence solution. Pages a chosen USTA IoC feed (malicious-urls, malware-hashes, or phishing-sites) over a historical window, maps each record to a STIX 2.1 indicator, and uploads it to Microsoft Sentinel Threat Intelligence via the Upload STIX Objects API. The import playbooks only poll forward; run this once per feed after connecting to load history. Re-uploads are idempotent (deterministic STIX ids).",
    "prerequisites": [
      "1. A PRODAFT USTA long-lived API key with access to the Security Intelligence IoC endpoints.",
      "2. The Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace.",
      "3. The core 'Threat Intelligence' solution installed and the PRODAFT USTA import playbooks deployed."
    ],
    "postDeployment": [
      "1. Grant the playbook's system-assigned managed identity the 'Microsoft Sentinel Contributor' role on the Log Analytics workspace.",
      "2. Run the trigger once for each feed you want to backfill (set the Feed parameter accordingly), then optionally disable or delete the playbook."
    ],
    "lastUpdateTime": "2026-07-08T00:00:00.000Z",
    "entities": [ "url", "filehash", "dnsresolution" ],
    "tags": [ "Backfill", "ThreatIntelligence" ],
    "author": { "name": "PRODAFT" },
    "support": {
      "name": "PRODAFT",
      "email": "integration@prodaft.com",
      "tier": "Partner",
      "link": "https://www.prodaft.com"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "PRODAFTUstaIoC-Backfill",
      "type": "string",
      "metadata": { "description": "Name of the Logic App playbook." }
    },
    "UstaBaseUrl": {
      "type": "string",
      "defaultValue": "https://usta.prodaft.com",
      "metadata": { "description": "PRODAFT USTA API base URL." }
    },
    "UstaApiKey": {
      "type": "securestring",
      "metadata": { "description": "PRODAFT USTA long-lived API key." }
    },
    "WorkspaceID": {
      "type": "string",
      "metadata": { "description": "Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace." }
    },
    "Feed": {
      "type": "string",
      "defaultValue": "malicious-urls",
      "allowedValues": [ "malicious-urls", "malware-hashes", "phishing-sites" ],
      "metadata": { "description": "Which USTA IoC feed to backfill." }
    },
    "BackfillDays": {
      "type": "int",
      "defaultValue": 30,
      "metadata": { "description": "Number of days of history to backfill." }
    },
    "ValidityDays": {
      "type": "int",
      "defaultValue": 7,
      "metadata": { "description": "Validity window (days) applied to phishing indicators from their created date, since the feed has no expiry." }
    }
  },
  "variables": {
    "MicrosoftSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": { "type": "SystemAssigned" },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
      ],
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "PRODAFTUstaIoC-Backfill",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" },
            "UstaBaseUrl": { "defaultValue": "", "type": "String" },
            "UstaApiKey": { "type": "SecureString" },
            "WorkspaceID": { "type": "String" },
            "Feed": { "defaultValue": "malicious-urls", "type": "String" },
            "BackfillDays": { "defaultValue": 30, "type": "Int" },
            "ValidityDays": { "defaultValue": 7, "type": "Int" }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": { "schema": {} }
            }
          },
          "actions": {
            "Initialize_Collected": {
              "type": "InitializeVariable",
              "runAfter": {},
              "inputs": {
                "variables": [
                  { "name": "collectedIndicators", "type": "array", "value": [] }
                ]
              }
            },
            "Initialize_NextUrl": {
              "type": "InitializeVariable",
              "runAfter": { "Initialize_Collected": [ "Succeeded" ] },
              "inputs": {
                "variables": [
                  {
                    "name": "NextUrl",
                    "type": "string",
                    "value": "@{concat(parameters('UstaBaseUrl'), '/api/threat-stream/v4/security-intelligence/ioc/', parameters('Feed'), '?ordering=created&size=100&start=', encodeUriComponent(addDays(utcNow(), mul(-1, parameters('BackfillDays')), 'yyyy-MM-ddTHH:mm:ssZ')))}"
                  }
                ]
              }
            },
            "Until_All_Pages_Processed": {
              "type": "Until",
              "expression": "@empty(variables('NextUrl'))",
              "limit": { "count": 5000, "timeout": "PT4H" },
              "runAfter": { "Initialize_NextUrl": [ "Succeeded" ] },
              "actions": {
                "Fetch_USTA_Page": {
                  "type": "Http",
                  "runAfter": {},
                  "runtimeConfiguration": { "secureData": { "properties": [ "inputs", "outputs" ] } },
                  "inputs": {
                    "method": "GET",
                    "uri": "@variables('NextUrl')",
                    "headers": {
                      "Accept": "application/json",
                      "Authorization": "Bearer @{parameters('UstaApiKey')}",
                      "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                    },
                    "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT20S" }
                  }
                },
                "If_Page_Has_Records": {
                  "type": "If",
                  "runAfter": { "Update_NextUrl": [ "Succeeded" ] },
                  "expression": {
                    "and": [
                      { "greater": [ "@length(coalesce(body('Fetch_USTA_Page')?['results'], json('[]')))", 0 ] }
                    ]
                  },
                  "actions": {
                    "Switch_Feed": {
                      "type": "Switch",
                      "runAfter": {},
                      "expression": "@parameters('Feed')",
                      "cases": {
                        "Case_MaliciousUrls": {
                          "case": "malicious-urls",
                          "actions": {
                            "Map_Urls": {
                              "type": "Select",
                              "runAfter": {},
                              "inputs": {
                                "from": "@body('Fetch_USTA_Page')?['results']",
                                "select": {
                                  "type": "indicator",
                                  "spec_version": "2.1",
                                  "pattern_type": "stix",
                                  "id": "@concat('indicator--', item()?['id'])",
                                  "name": "@item()?['url']",
                                  "description": "@concat('PRODAFT USTA - Malicious URL. Host: ', coalesce(item()?['host'], ''))",
                                  "pattern": "@if(or(startsWith(item()?['url'], 'http://'), startsWith(item()?['url'], 'https://')), concat('[url:value = ''', item()?['url'], ''']'), if(equals(item()?['is_domain'], true), concat('[domain-name:value = ''', item()?['host'], ''']'), concat('[url:value = ''http://', item()?['url'], ''']')))",
                                  "indicator_types": [ "malicious-activity" ],
                                  "labels": "@if(empty(item()?['tags']), json('[\"Malicious\"]'), item()?['tags'])",
                                  "confidence": 85,
                                  "valid_from": "@item()?['valid_from']",
                                  "valid_until": "@item()?['valid_until']",
                                  "created": "@item()?['created']",
                                  "modified": "@utcNow()",
                                  "object_marking_refs": [ "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82" ]
                                }
                              }
                            },
                            "Set_Collected_Urls": {
                              "type": "SetVariable",
                              "runAfter": { "Map_Urls": [ "Succeeded" ] },
                              "inputs": { "name": "collectedIndicators", "value": "@body('Map_Urls')" }
                            }
                          }
                        },
                        "Case_MalwareHashes": {
                          "case": "malware-hashes",
                          "actions": {
                            "Map_Hashes": {
                              "type": "Select",
                              "runAfter": {},
                              "inputs": {
                                "from": "@body('Fetch_USTA_Page')?['results']",
                                "select": {
                                  "type": "indicator",
                                  "spec_version": "2.1",
                                  "pattern_type": "stix",
                                  "id": "@concat('indicator--', item()?['id'])",
                                  "name": "@coalesce(item()?['hashes']?['sha256'], item()?['hashes']?['sha1'], item()?['hashes']?['md5'])",
                                  "description": "PRODAFT USTA - Malware file hash",
                                  "pattern": "@concat('[file:hashes.''MD5'' = ''', item()?['hashes']?['md5'], ''' OR file:hashes.''SHA-1'' = ''', item()?['hashes']?['sha1'], ''' OR file:hashes.''SHA-256'' = ''', item()?['hashes']?['sha256'], ''']')",
                                  "indicator_types": [ "malicious-activity" ],
                                  "labels": "@if(empty(item()?['tags']), json('[\"Malware\"]'), item()?['tags'])",
                                  "confidence": 90,
                                  "valid_from": "@item()?['valid_from']",
                                  "valid_until": "@item()?['valid_until']",
                                  "created": "@item()?['created']",
                                  "modified": "@utcNow()",
                                  "object_marking_refs": [ "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82" ]
                                }
                              }
                            },
                            "Set_Collected_Hashes": {
                              "type": "SetVariable",
                              "runAfter": { "Map_Hashes": [ "Succeeded" ] },
                              "inputs": { "name": "collectedIndicators", "value": "@body('Map_Hashes')" }
                            }
                          }
                        },
                        "Case_PhishingSites": {
                          "case": "phishing-sites",
                          "actions": {
                            "Map_Phishing": {
                              "type": "Select",
                              "runAfter": {},
                              "inputs": {
                                "from": "@body('Fetch_USTA_Page')?['results']",
                                "select": {
                                  "type": "indicator",
                                  "spec_version": "2.1",
                                  "pattern_type": "stix",
                                  "id": "@concat('indicator--00000000-0000-5000-8000-', substring(concat('000000000000', string(item()?['id'])), sub(length(concat('000000000000', string(item()?['id']))), 12), 12))",
                                  "name": "@item()?['url']",
                                  "description": "@concat('PRODAFT USTA - Phishing site. Country: ', coalesce(item()?['country'], 'unknown'))",
                                  "pattern": "@if(or(startsWith(item()?['url'], 'http://'), startsWith(item()?['url'], 'https://')), concat('[url:value = ''', item()?['url'], ''']'), if(equals(item()?['is_domain'], true), concat('[domain-name:value = ''', item()?['host'], ''']'), concat('[url:value = ''http://', item()?['url'], ''']')))",
                                  "indicator_types": [ "phishing" ],
                                  "labels": "@createArray('phishing', concat('country:', coalesce(item()?['country'], 'unknown')))",
                                  "confidence": 80,
                                  "valid_from": "@item()?['created']",
                                  "valid_until": "@addDays(item()?['created'], parameters('ValidityDays'))",
                                  "created": "@item()?['created']",
                                  "modified": "@utcNow()",
                                  "object_marking_refs": [ "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82" ]
                                }
                              }
                            },
                            "Set_Collected_Phishing": {
                              "type": "SetVariable",
                              "runAfter": { "Map_Phishing": [ "Succeeded" ] },
                              "inputs": { "name": "collectedIndicators", "value": "@body('Map_Phishing')" }
                            }
                          }
                        }
                      },
                      "default": { "actions": {} }
                    },
                    "Upload_STIX_Objects": {
                      "type": "ApiConnection",
                      "runAfter": { "Switch_Feed": [ "Succeeded" ] },
                      "inputs": {
                        "host": {
                          "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                        },
                        "method": "post",
                        "body": {
                          "stixobjects": "@variables('collectedIndicators')",
                          "sourcesystem": "PRODAFT USTA"
                        },
                        "path": "/ThreatIntelligence/@{encodeURIComponent(uriComponent(parameters('WorkspaceID')))}/UploadStixObjects/",
                        "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT20S" }
                      }
                    }
                  },
                  "else": { "actions": {} }
                },
                "Update_NextUrl": {
                  "type": "SetVariable",
                  "runAfter": { "Fetch_USTA_Page": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] },
                  "inputs": {
                    "name": "NextUrl",
                    "value": "@coalesce(body('Fetch_USTA_Page')?['next'], '')"
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": { "type": "ManagedServiceIdentity" }
                }
              }
            }
          },
          "UstaBaseUrl": { "value": "[parameters('UstaBaseUrl')]" },
          "UstaApiKey": { "value": "[parameters('UstaApiKey')]" },
          "WorkspaceID": { "value": "[parameters('WorkspaceID')]" },
          "Feed": { "value": "[parameters('Feed')]" },
          "BackfillDays": { "value": "[parameters('BackfillDays')]" },
          "ValidityDays": { "value": "[parameters('ValidityDays')]" }
        }
      }
    }
  ],
  "outputs": {
    "playbookPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2017-07-01', 'full').identity.principalId]"
    }
  }
}
