Solutions/PRODAFT USTA - IoC Threat Intelligence/Playbooks/PRODAFTUstaIoC-ImportMalwareHashes/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "PRODAFT USTA - Import Malware Hashes",
    "description": "Polls the PRODAFT USTA malware-hash IoC feed hourly, maps each record to a STIX 2.1 file indicator (MD5/SHA-1/SHA-256), and uploads it to Microsoft Sentinel Threat Intelligence via the Upload STIX Objects API. Indicators appear in the Threat Intelligence blade and the ThreatIntelIndicators table with SourceSystem 'PRODAFT USTA'. Re-uploads are idempotent (deterministic STIX ids).",
    "prerequisites": [
      "1. A PRODAFT USTA long-lived API key with access to the Security Intelligence IoC endpoints.",
      "2. The Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace.",
      "3. The core 'Threat Intelligence' solution installed from the Content hub (provides the Threat Intelligence blade and the ThreatIntelIndicators table)."
    ],
    "postDeployment": [
      "1. Grant the playbook's system-assigned managed identity the 'Microsoft Sentinel Contributor' role on the Log Analytics workspace (Access control (IAM) -> Add role assignment). This is required for the Upload STIX Objects call.",
      "2. Optionally adjust the Recurrence frequency and the LookBackHours parameter."
    ],
    "lastUpdateTime": "2026-07-08T00:00:00.000Z",
    "entities": [ "filehash" ],
    "tags": [ "ThreatIntelligence" ],
    "author": { "name": "PRODAFT" },
    "support": {
      "name": "PRODAFT",
      "email": "integration@prodaft.com",
      "tier": "Partner",
      "link": "https://www.prodaft.com"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "PRODAFTUstaIoC-ImportMalwareHashes",
      "type": "string",
      "metadata": { "description": "Name of the Logic App playbook." }
    },
    "UstaBaseUrl": {
      "type": "string",
      "defaultValue": "https://usta.prodaft.com",
      "metadata": { "description": "PRODAFT USTA API base URL." }
    },
    "UstaApiKey": {
      "type": "securestring",
      "metadata": { "description": "PRODAFT USTA long-lived API key." }
    },
    "WorkspaceID": {
      "type": "string",
      "metadata": { "description": "Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace." }
    },
    "LookBackHours": {
      "type": "int",
      "defaultValue": 2,
      "metadata": { "description": "Sliding window (hours) fetched on each run. Keep a small overlap over the hourly recurrence; re-uploads are idempotent." }
    }
  },
  "variables": {
    "MicrosoftSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": { "type": "SystemAssigned" },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
      ],
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "PRODAFTUstaIoC-ImportMalwareHashes",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" },
            "UstaBaseUrl": { "defaultValue": "", "type": "String" },
            "UstaApiKey": { "type": "SecureString" },
            "WorkspaceID": { "type": "String" },
            "LookBackHours": { "defaultValue": 2, "type": "Int" }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": { "frequency": "Hour", "interval": 1 },
              "runtimeConfiguration": { "concurrency": { "runs": 1 } }
            }
          },
          "actions": {
            "Initialize_NextUrl": {
              "type": "InitializeVariable",
              "runAfter": {},
              "inputs": {
                "variables": [
                  {
                    "name": "NextUrl",
                    "type": "string",
                    "value": "@{concat(parameters('UstaBaseUrl'), '/api/threat-stream/v4/security-intelligence/ioc/malware-hashes?ordering=created&size=100&start=', encodeUriComponent(addHours(utcNow(), mul(-1, parameters('LookBackHours')), 'yyyy-MM-ddTHH:mm:ssZ')))}"
                  }
                ]
              }
            },
            "Until_All_Pages_Processed": {
              "type": "Until",
              "expression": "@empty(variables('NextUrl'))",
              "limit": { "count": 1000, "timeout": "PT1H" },
              "runAfter": { "Initialize_NextUrl": [ "Succeeded" ] },
              "actions": {
                "Fetch_USTA_Page": {
                  "type": "Http",
                  "runAfter": {},
                  "runtimeConfiguration": { "secureData": { "properties": [ "inputs", "outputs" ] } },
                  "inputs": {
                    "method": "GET",
                    "uri": "@variables('NextUrl')",
                    "headers": {
                      "Accept": "application/json",
                      "Authorization": "Bearer @{parameters('UstaApiKey')}",
                      "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                    },
                    "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT20S" }
                  }
                },
                "If_Page_Has_Records": {
                  "type": "If",
                  "runAfter": { "Update_NextUrl": [ "Succeeded" ] },
                  "expression": {
                    "and": [
                      { "greater": [ "@length(coalesce(body('Fetch_USTA_Page')?['results'], json('[]')))", 0 ] }
                    ]
                  },
                  "actions": {
                    "Map_To_STIX": {
                      "type": "Select",
                      "runAfter": {},
                      "inputs": {
                        "from": "@body('Fetch_USTA_Page')?['results']",
                        "select": {
                          "type": "indicator",
                          "spec_version": "2.1",
                          "pattern_type": "stix",
                          "id": "@concat('indicator--', item()?['id'])",
                          "name": "@coalesce(item()?['hashes']?['sha256'], item()?['hashes']?['sha1'], item()?['hashes']?['md5'])",
                          "description": "PRODAFT USTA - Malware file hash",
                          "pattern": "@concat('[file:hashes.''MD5'' = ''', item()?['hashes']?['md5'], ''' OR file:hashes.''SHA-1'' = ''', item()?['hashes']?['sha1'], ''' OR file:hashes.''SHA-256'' = ''', item()?['hashes']?['sha256'], ''']')",
                          "indicator_types": [ "malicious-activity" ],
                          "labels": "@if(empty(item()?['tags']), json('[\"Malware\"]'), item()?['tags'])",
                          "confidence": 90,
                          "valid_from": "@item()?['valid_from']",
                          "valid_until": "@item()?['valid_until']",
                          "created": "@item()?['created']",
                          "modified": "@utcNow()",
                          "object_marking_refs": [ "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82" ]
                        }
                      }
                    },
                    "Upload_STIX_Objects": {
                      "type": "ApiConnection",
                      "runAfter": { "Map_To_STIX": [ "Succeeded" ] },
                      "inputs": {
                        "host": {
                          "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                        },
                        "method": "post",
                        "body": {
                          "stixobjects": "@body('Map_To_STIX')",
                          "sourcesystem": "PRODAFT USTA"
                        },
                        "path": "/ThreatIntelligence/@{encodeURIComponent(uriComponent(parameters('WorkspaceID')))}/UploadStixObjects/",
                        "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT20S" }
                      }
                    }
                  },
                  "else": { "actions": {} }
                },
                "Update_NextUrl": {
                  "type": "SetVariable",
                  "runAfter": { "Fetch_USTA_Page": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] },
                  "inputs": {
                    "name": "NextUrl",
                    "value": "@coalesce(body('Fetch_USTA_Page')?['next'], '')"
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": { "type": "ManagedServiceIdentity" }
                }
              }
            }
          },
          "UstaBaseUrl": { "value": "[parameters('UstaBaseUrl')]" },
          "UstaApiKey": { "value": "[parameters('UstaApiKey')]" },
          "WorkspaceID": { "value": "[parameters('WorkspaceID')]" },
          "LookBackHours": { "value": "[parameters('LookBackHours')]" }
        }
      }
    }
  ],
  "outputs": {
    "playbookPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2017-07-01', 'full').identity.principalId]"
    }
  }
}
