Solutions/PRODAFT USTA - IoC Threat Intelligence/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "PRODAFT - integration@prodaft.com",
    "comments": "Solution template for PRODAFT USTA - IoC Threat Intelligence"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    },
    "workbook1-name": {
      "type": "string",
      "defaultValue": "PRODAFT USTA - IoC Threat Intelligence",
      "minLength": 1,
      "metadata": {
        "description": "Name for the workbook"
      }
    }
  },
  "variables": {
    "email": "integration@prodaft.com",
    "_email": "[variables('email')]",
    "_solutionName": "PRODAFT USTA - IoC Threat Intelligence",
    "_solutionVersion": "3.0.0",
    "solutionId": "prodaft.azure-sentinel-solution-prodaft-usta-ioc",
    "_solutionId": "[variables('solutionId')]",
    "workbookVersion1": "1.0.0",
    "workbookContentId1": "PRODAFTUstaIoCWorkbook",
    "workbookId1": "[resourceId('Microsoft.Insights/workbooks', variables('workbookContentId1'))]",
    "workbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-wb-',uniquestring(variables('_workbookContentId1'))))]",
    "_workbookContentId1": "[variables('workbookContentId1')]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "_workbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','wb','-', uniqueString(concat(variables('_solutionId'),'-','Workbook','-',variables('_workbookContentId1'),'-', variables('workbookVersion1'))))]",
    "analyticRuleObject1": {
      "analyticRuleVersion1": "1.0.0",
      "_analyticRulecontentId1": "99ae4d06-d352-4926-a1d7-9c28e25b1313",
      "analyticRuleId1": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '99ae4d06-d352-4926-a1d7-9c28e25b1313')]",
      "analyticRuleTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('99ae4d06-d352-4926-a1d7-9c28e25b1313')))]",
      "_analyticRulecontentProductId1": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','99ae4d06-d352-4926-a1d7-9c28e25b1313','-', '1.0.0')))]"
    },
    "analyticRuleObject2": {
      "analyticRuleVersion2": "1.0.0",
      "_analyticRulecontentId2": "c6f85aff-4ef0-4fde-b90e-e0ba1a9c3df6",
      "analyticRuleId2": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', 'c6f85aff-4ef0-4fde-b90e-e0ba1a9c3df6')]",
      "analyticRuleTemplateSpecName2": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('c6f85aff-4ef0-4fde-b90e-e0ba1a9c3df6')))]",
      "_analyticRulecontentProductId2": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','c6f85aff-4ef0-4fde-b90e-e0ba1a9c3df6','-', '1.0.0')))]"
    },
    "analyticRuleObject3": {
      "analyticRuleVersion3": "1.0.0",
      "_analyticRulecontentId3": "9c2cef4e-c3a3-4be9-8923-a2f820d4face",
      "analyticRuleId3": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '9c2cef4e-c3a3-4be9-8923-a2f820d4face')]",
      "analyticRuleTemplateSpecName3": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('9c2cef4e-c3a3-4be9-8923-a2f820d4face')))]",
      "_analyticRulecontentProductId3": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','9c2cef4e-c3a3-4be9-8923-a2f820d4face','-', '1.0.0')))]"
    },
    "uiConfigId1": "PRODAFTUstaIoCUploadIndicators",
    "_uiConfigId1": "[variables('uiConfigId1')]",
    "dataConnectorContentId1": "PRODAFTUstaIoCUploadIndicators",
    "_dataConnectorContentId1": "[variables('dataConnectorContentId1')]",
    "dataConnectorId1": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectors', variables('_dataConnectorContentId1'))]",
    "_dataConnectorId1": "[variables('dataConnectorId1')]",
    "dataConnectorTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-dc-',uniquestring(variables('_dataConnectorContentId1'))))]",
    "dataConnectorVersion1": "1.0.0",
    "_dataConnectorcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','dc','-', uniqueString(concat(variables('_solutionId'),'-','DataConnector','-',variables('_dataConnectorContentId1'),'-', variables('dataConnectorVersion1'))))]",
    "PRODAFTUstaIoC-ImportMaliciousUrls": "PRODAFTUstaIoC-ImportMaliciousUrls",
    "_PRODAFTUstaIoC-ImportMaliciousUrls": "[variables('PRODAFTUstaIoC-ImportMaliciousUrls')]",
    "blanks": "[replace('b', 'b', '')]",
    "playbookVersion1": "1.0",
    "playbookContentId1": "PRODAFTUstaIoC-ImportMaliciousUrls",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]",
    "PRODAFTUstaIoC-ImportMalwareHashes": "PRODAFTUstaIoC-ImportMalwareHashes",
    "_PRODAFTUstaIoC-ImportMalwareHashes": "[variables('PRODAFTUstaIoC-ImportMalwareHashes')]",
    "playbookVersion2": "1.0",
    "playbookContentId2": "PRODAFTUstaIoC-ImportMalwareHashes",
    "_playbookContentId2": "[variables('playbookContentId2')]",
    "playbookId2": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId2'))]",
    "playbookTemplateSpecName2": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId2'))))]",
    "_playbookcontentProductId2": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId2'),'-', variables('playbookVersion2'))))]",
    "PRODAFTUstaIoC-ImportPhishingSites": "PRODAFTUstaIoC-ImportPhishingSites",
    "_PRODAFTUstaIoC-ImportPhishingSites": "[variables('PRODAFTUstaIoC-ImportPhishingSites')]",
    "playbookVersion3": "1.0",
    "playbookContentId3": "PRODAFTUstaIoC-ImportPhishingSites",
    "_playbookContentId3": "[variables('playbookContentId3')]",
    "playbookId3": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId3'))]",
    "playbookTemplateSpecName3": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId3'))))]",
    "_playbookcontentProductId3": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId3'),'-', variables('playbookVersion3'))))]",
    "PRODAFTUstaIoC-Backfill": "PRODAFTUstaIoC-Backfill",
    "_PRODAFTUstaIoC-Backfill": "[variables('PRODAFTUstaIoC-Backfill')]",
    "TemplateEmptyArray": "[json('[]')]",
    "playbookVersion4": "1.0",
    "playbookContentId4": "PRODAFTUstaIoC-Backfill",
    "_playbookContentId4": "[variables('playbookContentId4')]",
    "playbookId4": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId4'))]",
    "playbookTemplateSpecName4": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId4'))))]",
    "_playbookcontentProductId4": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId4'),'-', variables('playbookVersion4'))))]",
    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('workbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaIoCOverview Workbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('workbookVersion1')]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.Insights/workbooks",
              "name": "[variables('workbookContentId1')]",
              "location": "[parameters('workspace-location')]",
              "kind": "shared",
              "apiVersion": "2021-08-01",
              "metadata": {
                "description": "Gain insights into indicators of compromise (malicious URLs, malware hashes, and phishing sites) ingested from PRODAFT USTA IoC Threat Intelligence: indicators over time, by type, active vs expired, and confidence."
              },
              "properties": {
                "displayName": "[parameters('workbook1-name')]",
                "serializedData": "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":{\"json\":\"# PRODAFT USTA — IoC Threat Intelligence\\n\\nMonitors indicators of compromise (malicious URLs, malware hashes, and phishing sites) ingested from the PRODAFT USTA platform into Microsoft Sentinel Threat Intelligence. Indicators are stored as STIX objects in the `ThreatIntelIndicators` table with `SourceSystem == \\\"PRODAFT USTA\\\"` and appear in the Threat Intelligence blade.\"},\"name\":\"title\"},{\"type\":9,\"content\":{\"version\":\"KqlParameterItem/1.0\",\"parameters\":[{\"id\":\"b7c1d2e3-0a1b-4c2d-9e3f-4a5b6c7d8e90\",\"version\":\"KqlParameterItem/1.0\",\"name\":\"TimeRange\",\"label\":\"Time range\",\"type\":4,\"isRequired\":true,\"value\":{\"durationMs\":2592000000},\"typeSettings\":{\"selectableValues\":[{\"durationMs\":86400000},{\"durationMs\":604800000},{\"durationMs\":2592000000},{\"durationMs\":7776000000}]}}],\"style\":\"pills\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"parameters\"},{\"type\":1,\"content\":{\"json\":\"## PRODAFT USTA Indicators\"},\"name\":\"header-ioc\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"ThreatIntelIndicators\\n| where SourceSystem == \\\"PRODAFT USTA\\\"\\n| where TimeGenerated {TimeRange}\\n| summarize Indicators = count() by bin(TimeGenerated, 1d)\\n| sort by TimeGenerated asc\",\"size\":0,\"title\":\"Indicators ingested over time\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"timechart\"},\"customWidth\":\"50\",\"name\":\"ioc-timechart\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"ThreatIntelIndicators\\n| where SourceSystem == \\\"PRODAFT USTA\\\"\\n| where TimeGenerated {TimeRange}\\n| extend IndicatorType = replace_regex(tostring(split(ObservableKey, \\\":\\\")[0]), @'[\\\\[\\\\]\\\"]', \\\"\\\")\\n| summarize Count = count() by IndicatorType\",\"size\":0,\"title\":\"Indicators by type\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"customWidth\":\"50\",\"name\":\"ioc-by-type\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"ThreatIntelIndicators\\n| where SourceSystem == \\\"PRODAFT USTA\\\"\\n| where TimeGenerated {TimeRange}\\n| extend State = iff(IsActive and (ValidUntil > now() or isempty(ValidUntil)), \\\"Active\\\", \\\"Expired\\\")\\n| summarize Count = count() by State\",\"size\":0,\"title\":\"Active vs expired\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"customWidth\":\"50\",\"name\":\"ioc-validity\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"ThreatIntelIndicators\\n| where SourceSystem == \\\"PRODAFT USTA\\\"\\n| where TimeGenerated {TimeRange}\\n| summarize Count = count() by tostring(Confidence)\\n| sort by Count desc\",\"size\":0,\"title\":\"Indicators by confidence\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"barchart\"},\"customWidth\":\"50\",\"name\":\"ioc-confidence\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"ThreatIntelIndicators\\n| where SourceSystem == \\\"PRODAFT USTA\\\"\\n| where TimeGenerated {TimeRange}\\n| extend IndicatorType = replace_regex(tostring(split(ObservableKey, \\\":\\\")[0]), @'[\\\\[\\\\]\\\"]', \\\"\\\")\\n| project TimeGenerated, IndicatorType, ObservableValue, Confidence, ValidUntil, IsActive\\n| sort by TimeGenerated desc\\n| take 100\",\"size\":0,\"title\":\"Recent indicators\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"table\"},\"name\":\"ioc-grid\"}],\"fromTemplateId\":\"sentinel-PRODAFTUstaIoCWorkbook\",\"$schema\":\"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"}\n",
                "version": "1.0",
                "sourceId": "[variables('workspaceResourceId')]",
                "category": "sentinel"
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Workbook-', last(split(variables('workbookId1'),'/'))))]",
              "properties": {
                "description": "@{workbookKey=PRODAFTUstaIoCWorkbook; logoFileName=PRODAFTUstaIoC.svg; description=Gain insights into indicators of compromise (malicious URLs, malware hashes, and phishing sites) ingested from PRODAFT USTA IoC Threat Intelligence: indicators over time, by type, active vs expired, and confidence.; dataTypesDependencies=System.Object[]; dataConnectorsDependencies=System.Object[]; previewImagesFileNames=System.Object[]; version=1.0.0; title=PRODAFT USTA - IoC Threat Intelligence; templateRelativePath=PRODAFTUstaIoCOverview.json; subtitle=; provider=PRODAFT}.description",
                "parentId": "[variables('workbookId1')]",
                "contentId": "[variables('_workbookContentId1')]",
                "kind": "Workbook",
                "version": "[variables('workbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                },
                "dependencies": {
                  "operator": "AND",
                  "criteria": [
                    {
                      "contentId": "ThreatIntelIndicators",
                      "kind": "DataType"
                    },
                    {
                      "contentId": "PRODAFTUstaIoCUploadIndicators",
                      "kind": "DataConnector"
                    }
                  ]
                }
              },
              "description": "Monitors indicators of compromise ingested from PRODAFT USTA IoC Threat Intelligence: indicators over time, by type, active vs expired, and confidence."
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_workbookContentId1')]",
        "contentKind": "Workbook",
        "displayName": "[parameters('workbook1-name')]",
        "contentProductId": "[variables('_workbookcontentProductId1')]",
        "id": "[variables('_workbookcontentProductId1')]",
        "version": "[variables('workbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject1').analyticRuleTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "TIMapUrlToSyslog_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject1').analyticRuleVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Identifies a match in Syslog data from any malicious URL indicator ingested from PRODAFT\nUSTA IoC Threat Intelligence (SourceSystem \"PRODAFT USTA\").",
                "displayName": "PRODAFT USTA - TI map URL to Syslog",
                "enabled": false,
                "query": "let dt_lookBack = 1h;\nlet ioc_lookBack = 14d;\nThreatIntelIndicators\n| where SourceSystem == \"PRODAFT USTA\"\n//extract key part of kv pair\n| extend IndicatorType = replace(@\"\\[|\\]|\\\"\"\", \"\", tostring(split(ObservableKey, \":\", 0)))\n| where IndicatorType == \"url\"\n| extend Url = ObservableValue\n| extend TrafficLightProtocolLevel = tostring(parse_json(AdditionalFields).TLPLevel)\n| where TimeGenerated >= ago(ioc_lookBack)\n| summarize LatestIndicatorTime = arg_max(TimeGenerated, *) by Id, ObservableValue\n| where IsActive and (ValidUntil > now() or isempty(ValidUntil))\n| project-reorder *, Tags, TrafficLightProtocolLevel, Url, Type\n// using innerunique to keep perf fast and result set low, we only need one match to indicate potential malicious activity that needs to be investigated\n| join kind=innerunique (\n  Syslog\n  | where TimeGenerated >= ago(dt_lookBack)\n  // Extract URL from the Syslog message but only take messages that include URLs\n  | extend Url = extract(\"(http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\\\(\\\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+)\", 1,SyslogMessage)\n  | extend Syslog_TimeGenerated = TimeGenerated\n) on Url\n| where Syslog_TimeGenerated < ValidUntil\n| summarize Syslog_TimeGenerated  = arg_max(Syslog_TimeGenerated , *) by Id, Url\n| extend Description = tostring(parse_json(Data).description)\n| extend ActivityGroupNames = extract(@\"ActivityGroup:(\\S+)\", 1, tostring(parse_json(Data).labels))\n| project timestamp = Syslog_TimeGenerated, Description, ActivityGroupNames, Id, Type, ValidUntil, Confidence, SyslogMessage, Computer, ProcessName, Url, HostIP\n",
                "queryFrequency": "PT1H",
                "queryPeriod": "P14D",
                "severity": "Medium",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "dataTypes": [
                      "Syslog"
                    ],
                    "connectorId": "Syslog"
                  },
                  {
                    "dataTypes": [
                      "ThreatIntelIndicators"
                    ],
                    "connectorId": "PRODAFTUstaIoCUploadIndicators"
                  }
                ],
                "tactics": [
                  "CommandAndControl"
                ],
                "techniques": [
                  "T1071"
                ],
                "entityMappings": [
                  {
                    "entityType": "Host",
                    "fieldMappings": [
                      {
                        "columnName": "Computer",
                        "identifier": "HostName"
                      }
                    ]
                  },
                  {
                    "entityType": "IP",
                    "fieldMappings": [
                      {
                        "columnName": "HostIP",
                        "identifier": "Address"
                      }
                    ]
                  },
                  {
                    "entityType": "URL",
                    "fieldMappings": [
                      {
                        "columnName": "Url",
                        "identifier": "Url"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject1').analyticRuleId1,'/'))))]",
              "properties": {
                "description": "PRODAFT USTA - IoC Threat Intelligence Analytics Rule 1",
                "parentId": "[variables('analyticRuleObject1').analyticRuleId1]",
                "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject1').analyticRuleVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
        "contentKind": "AnalyticsRule",
        "displayName": "PRODAFT USTA - TI map URL to Syslog",
        "contentProductId": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "id": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject2').analyticRuleTemplateSpecName2]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "TIMapDomainToDnsEvents_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject2').analyticRuleVersion2]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Identifies a match in DnsEvents from any domain-name indicator ingested from PRODAFT USTA\nIoC Threat Intelligence (SourceSystem \"PRODAFT USTA\").",
                "displayName": "PRODAFT USTA - TI map Domain to DnsEvents",
                "enabled": false,
                "query": "// Define the lookback periods for time-based filters\nlet dt_lookBack = 1h; // Look back 1 hour for DNS events\nlet ioc_lookBack = 14d; // Look back 14 days for threat intelligence indicators\n// Fetch PRODAFT USTA threat intelligence indicators related to domains\nlet Domain_Indicators = ThreatIntelIndicators\n  | where SourceSystem == \"PRODAFT USTA\"\n  // Filter out indicators without domain names\n  | extend IndicatorType = replace(@\"\\[|\\]|\\\"\"\", \"\", tostring(split(ObservableKey, \":\", 0)))\n  | where IndicatorType == \"domain-name\"\n  | extend DomainName = tolower(ObservableValue)\n  | extend TrafficLightProtocolLevel = tostring(parse_json(AdditionalFields).TLPLevel)\n  | extend Url = iff(ObservableKey == \"url:value\", ObservableValue, \"\")\n  | where TimeGenerated >= ago(ioc_lookBack)\n  | summarize LatestIndicatorTime = arg_max(TimeGenerated, *) by Id, ObservableValue\n  | where IsActive and (ValidUntil > now() or isempty(ValidUntil));\n// Create a list of TLDs in our threat feed for later validation\nlet maxListSize = 100000; // Define the maximum allowed size for each list\nlet list_tlds = Domain_Indicators\n  | extend parts = split(DomainName, '.')\n  | extend tld = parts[(array_length(parts)-1)]\n  | extend IndicatorId = tostring(split(Id, \"--\")[2])\n  | summarize count() by tostring(tld)\n  | project tld\n  | summarize make_list(tld, maxListSize);\n// Perform a join between domain indicators and DNS events to identify potential malicious activity\nDomain_Indicators\n | project-reorder *, IsActive, Tags, TrafficLightProtocolLevel, DomainName, Type\n  // Use innerunique to keep performance fast and result set low, as we only need one match to indicate potential malicious activity that needs investigation\n  | join kind=innerunique (\n    DnsEvents\n    | where TimeGenerated > ago(dt_lookBack)\n    // Extract domain patterns from syslog message\n    | where isnotempty(Name)\n    | extend parts = split(Name, '.')\n    | extend tld = parts[(array_length(parts)-1)]\n    // Validate parsed domain by checking if the TLD is in the list of TLDs in our threat feed\n    | where tld in~ (list_tlds)\n    | extend DNS_TimeGenerated = TimeGenerated\n  ) on $left.DomainName==$right.Name\n  // Filter out DNS events that occurred after the expiration of the corresponding indicator\n  | where DNS_TimeGenerated < ValidUntil\n  // Group the results by IndicatorId and Name, and keep the DNS event with the latest timestamp\n  | summarize DNS_TimeGenerated = arg_max(DNS_TimeGenerated, *) by Id, Name\n  // Select the desired output fields\n  | extend ActivityGroupNames = extract(@\"ActivityGroup:(\\S+)\", 1, tostring(parse_json(Data).labels))\n  | project DNS_TimeGenerated, Description, ActivityGroupNames, Id, ValidUntil, Confidence, Url, Computer, ClientIP\n  // Extract hostname and DNS domain from the Computer field\n  | extend HostName = tostring(split(Computer, '.', 0)[0]), DnsDomain = tostring(strcat_array(array_slice(split(Computer, '.'), 1, -1), '.'))\n  // Rename the timestamp field\n  | extend timestamp = DNS_TimeGenerated\n",
                "queryFrequency": "PT1H",
                "queryPeriod": "P14D",
                "severity": "Medium",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "dataTypes": [
                      "DnsEvents"
                    ],
                    "connectorId": "DNS"
                  },
                  {
                    "dataTypes": [
                      "ThreatIntelIndicators"
                    ],
                    "connectorId": "PRODAFTUstaIoCUploadIndicators"
                  }
                ],
                "tactics": [
                  "CommandAndControl"
                ],
                "techniques": [
                  "T1071"
                ],
                "entityMappings": [
                  {
                    "entityType": "Host",
                    "fieldMappings": [
                      {
                        "columnName": "Computer",
                        "identifier": "FullName"
                      },
                      {
                        "columnName": "HostName",
                        "identifier": "HostName"
                      },
                      {
                        "columnName": "DnsDomain",
                        "identifier": "DnsDomain"
                      }
                    ]
                  },
                  {
                    "entityType": "IP",
                    "fieldMappings": [
                      {
                        "columnName": "ClientIP",
                        "identifier": "Address"
                      }
                    ]
                  },
                  {
                    "entityType": "URL",
                    "fieldMappings": [
                      {
                        "columnName": "Url",
                        "identifier": "Url"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject2').analyticRuleId2,'/'))))]",
              "properties": {
                "description": "PRODAFT USTA - IoC Threat Intelligence Analytics Rule 2",
                "parentId": "[variables('analyticRuleObject2').analyticRuleId2]",
                "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject2').analyticRuleVersion2]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
        "contentKind": "AnalyticsRule",
        "displayName": "PRODAFT USTA - TI map Domain to DnsEvents",
        "contentProductId": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "id": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject3').analyticRuleTemplateSpecName3]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "TIMapFileHashToCommonSecurityLog_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject3').analyticRuleVersion3]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Identifies a match in CommonSecurityLog data from any file-hash indicator ingested from\nPRODAFT USTA IoC Threat Intelligence (SourceSystem \"PRODAFT USTA\").",
                "displayName": "PRODAFT USTA - TI map File Hash to CommonSecurityLog",
                "enabled": false,
                "query": "let dt_lookBack = 1h;\nlet ioc_lookBack = 14d;\nlet fileHashIndicators = ThreatIntelIndicators\n| where SourceSystem == \"PRODAFT USTA\"\n//extract key part of kv pair\n| extend IndicatorType = replace(@\"\\[|\\]|\\\"\"\", \"\", tostring(split(ObservableKey, \":\", 0)))\n| where IndicatorType == \"file\"\n| extend FileHashType = replace(\"'\", \"\", substring(ObservableKey, indexof(ObservableKey, \"hashes.\") + 7, strlen(ObservableKey) - indexof(ObservableKey, \"hashes.\") - 7))\n| extend FileHashValue = toupper(ObservableValue)\n| extend IndicatorId = tostring(split(Id, \"--\")[2])\n| extend Url = iff(ObservableKey == \"url:value\", ObservableValue, \"\")\n| where TimeGenerated >= ago(ioc_lookBack)\n| summarize LatestIndicatorTime = arg_max(TimeGenerated, *) by Id, ObservableValue\n| where IsActive and (ValidUntil > now() or isempty(ValidUntil));\n// Handle matches against both lower case and uppercase versions of the hash:\n(fileHashIndicators | extend  FileHashValue = tolower(FileHashValue)\n| union (fileHashIndicators | extend FileHashValue = toupper(FileHashValue)))\n| project-reorder *, FileHashType, FileHashValue, Type\n// using innerunique to keep perf fast and result set low, we only need one match to indicate potential malicious activity that needs to be investigated\n|  join kind=innerunique (\n  CommonSecurityLog | where TimeGenerated >= ago(dt_lookBack)\n  | extend CommonSecurityLog_TimeGenerated = TimeGenerated\n  )\non $left.FileHashValue == $right.FileHash\n| where CommonSecurityLog_TimeGenerated < ValidUntil\n| summarize CommonSecurityLog_TimeGenerated = arg_max(CommonSecurityLog_TimeGenerated, *) by IndicatorId, FileHashValue\n| extend Description = tostring(parse_json(Data).description)\n| extend ActivityGroupNames = extract(@\"ActivityGroup:(\\S+)\", 1, tostring(parse_json(Data).labels))\n| project CommonSecurityLog_TimeGenerated, Description, ActivityGroupNames, Id, ValidUntil, Confidence,\nSourceIP, SourcePort, DestinationIP, DestinationPort, SourceUserID, SourceUserName, DeviceName, DeviceAction,\nRequestURL, DestinationUserName, DestinationUserID, ApplicationProtocol, Activity, FileHashValue, FileHashType, Url\n| extend HostName = tostring(split(DeviceName, '.', 0)[0]), DnsDomain = tostring(strcat_array(array_slice(split(DeviceName, '.'), 1, -1), '.'))\n| extend Name = tostring(split(SourceUserName, '@', 0)[0]), UPNSuffix = tostring(split(SourceUserName, '@', 1)[0])\n| extend timestamp = CommonSecurityLog_TimeGenerated\n",
                "queryFrequency": "PT1H",
                "queryPeriod": "P14D",
                "severity": "Medium",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "dataTypes": [
                      "CommonSecurityLog"
                    ],
                    "connectorId": "PaloAltoNetworks"
                  },
                  {
                    "dataTypes": [
                      "ThreatIntelIndicators"
                    ],
                    "connectorId": "PRODAFTUstaIoCUploadIndicators"
                  }
                ],
                "tactics": [
                  "CommandAndControl"
                ],
                "techniques": [
                  "T1071"
                ],
                "entityMappings": [
                  {
                    "entityType": "Account",
                    "fieldMappings": [
                      {
                        "columnName": "SourceUserName",
                        "identifier": "FullName"
                      },
                      {
                        "columnName": "Name",
                        "identifier": "Name"
                      },
                      {
                        "columnName": "UPNSuffix",
                        "identifier": "UPNSuffix"
                      }
                    ]
                  },
                  {
                    "entityType": "Host",
                    "fieldMappings": [
                      {
                        "columnName": "DeviceName",
                        "identifier": "FullName"
                      },
                      {
                        "columnName": "HostName",
                        "identifier": "HostName"
                      },
                      {
                        "columnName": "DnsDomain",
                        "identifier": "DnsDomain"
                      }
                    ]
                  },
                  {
                    "entityType": "IP",
                    "fieldMappings": [
                      {
                        "columnName": "SourceIP",
                        "identifier": "Address"
                      }
                    ]
                  },
                  {
                    "entityType": "URL",
                    "fieldMappings": [
                      {
                        "columnName": "Url",
                        "identifier": "Url"
                      }
                    ]
                  },
                  {
                    "entityType": "FileHash",
                    "fieldMappings": [
                      {
                        "columnName": "FileHashValue",
                        "identifier": "Value"
                      },
                      {
                        "columnName": "FileHashType",
                        "identifier": "Algorithm"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject3').analyticRuleId3,'/'))))]",
              "properties": {
                "description": "PRODAFT USTA - IoC Threat Intelligence Analytics Rule 3",
                "parentId": "[variables('analyticRuleObject3').analyticRuleId3]",
                "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject3').analyticRuleVersion3]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
        "contentKind": "AnalyticsRule",
        "displayName": "PRODAFT USTA - TI map File Hash to CommonSecurityLog",
        "contentProductId": "[variables('analyticRuleObject3')._analyticRulecontentProductId3]",
        "id": "[variables('analyticRuleObject3')._analyticRulecontentProductId3]",
        "version": "[variables('analyticRuleObject3').analyticRuleVersion3]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('dataConnectorTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFT USTA - IoC Threat Intelligence data connector with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('dataConnectorVersion1')]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentId1'))]",
              "apiVersion": "2021-03-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectors",
              "location": "[parameters('workspace-location')]",
              "kind": "GenericUI",
              "properties": {
                "connectorUiConfig": {
                  "id": "[variables('_uiConfigId1')]",
                  "title": "PRODAFT USTA - IoC Threat Intelligence",
                  "publisher": "PRODAFT",
                  "descriptionMarkdown": "The PRODAFT USTA IoC Threat Intelligence connector ingests indicators of compromise (malicious URLs, malware hashes, and phishing sites) from the PRODAFT USTA platform into Microsoft Sentinel's Threat Intelligence as STIX indicators via the Upload STIX Objects API. Ingestion is performed by the import playbooks shipped with this solution (one per IoC feed); indicators appear in the Threat Intelligence blade and in the `ThreatIntelIndicators` table with `SourceSystem == 'PRODAFT USTA'`. After installing the solution, deploy and authorize the import playbooks by following the guidance in the Manage solution view.",
                  "graphQueries": [
                    {
                      "metricName": "Total indicators received",
                      "legend": "PRODAFT USTA indicators",
                      "baseQuery": "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA'"
                    }
                  ],
                  "sampleQueries": [
                    {
                      "description": "All PRODAFT USTA indicators",
                      "query": "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA' | sort by TimeGenerated desc"
                    },
                    {
                      "description": "PRODAFT USTA indicators by type",
                      "query": "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA' | extend IndicatorType = replace(@'\\[|\\]|\\\"', '', tostring(split(ObservableKey, ':', 0))) | summarize count() by IndicatorType"
                    }
                  ],
                  "dataTypes": [
                    {
                      "name": "ThreatIntelIndicators",
                      "lastDataReceivedQuery": "ThreatIntelIndicators | where isnotempty(TimeGenerated) and SourceSystem == 'PRODAFT USTA' | summarize Time = max(TimeGenerated)"
                    }
                  ],
                  "connectivityCriterias": [
                    {
                      "type": "IsConnectedQuery",
                      "value": [
                        "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA' | summarize LastLogReceived = max(TimeGenerated) | project IsConnected = LastLogReceived > ago(30d)"
                      ]
                    }
                  ],
                  "availability": {
                    "status": 1,
                    "isPreview": false
                  },
                  "permissions": {
                    "resourceProvider": [
                      {
                        "provider": "Microsoft.SecurityInsights/threatintelligence/write",
                        "permissionsDisplayText": "read and write permissions to Microsoft Sentinel threat intelligence are required.",
                        "providerDisplayName": "Workspace",
                        "scope": "Workspace",
                        "requiredPermissions": {
                          "write": true,
                          "read": true,
                          "delete": true
                        }
                      }
                    ],
                    "customs": [
                      {
                        "name": "PRODAFT USTA API key",
                        "description": "A long-lived PRODAFT USTA API key with access to the Security Intelligence IoC endpoints is required."
                      }
                    ]
                  },
                  "instructionSteps": [
                    {
                      "description": "This connector lands indicators in the `ThreatIntelIndicators` table and the Threat Intelligence blade. Install the Microsoft **Threat Intelligence** solution from the Content hub first, so the blade and the source-agnostic TI-map analytic rules are available.",
                      "title": "1. Install the core Threat Intelligence solution"
                    },
                    {
                      "description": "This solution ships three import playbooks — **PRODAFTUstaIoC-ImportMaliciousUrls**, **PRODAFTUstaIoC-ImportMalwareHashes**, and **PRODAFTUstaIoC-ImportPhishingSites** — plus an on-demand **PRODAFTUstaIoC-Backfill** playbook. Deploy them from the Manage solution view (or the Automation blade), supplying your USTA base URL, USTA API key, and the Log Analytics workspace ID.",
                      "title": "2. Deploy the PRODAFT USTA import playbooks"
                    },
                    {
                      "description": "Each import playbook uses a system-assigned managed identity to call the Upload STIX Objects API. Grant that identity the **Microsoft Sentinel Contributor** role on the workspace (Log Analytics workspace → Access control (IAM) → Add role assignment). Once granted, the playbooks poll USTA hourly and push new indicators; the connector shows **Connected** after the first indicators arrive.",
                      "title": "3. Authorize the playbooks' managed identity"
                    }
                  ]
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2023-04-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', last(split(variables('_dataConnectorId1'),'/'))))]",
              "properties": {
                "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectors', variables('_dataConnectorContentId1'))]",
                "contentId": "[variables('_dataConnectorContentId1')]",
                "kind": "DataConnector",
                "version": "[variables('dataConnectorVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_dataConnectorContentId1')]",
        "contentKind": "DataConnector",
        "displayName": "PRODAFT USTA - IoC Threat Intelligence",
        "contentProductId": "[variables('_dataConnectorcontentProductId1')]",
        "id": "[variables('_dataConnectorcontentProductId1')]",
        "version": "[variables('dataConnectorVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', last(split(variables('_dataConnectorId1'),'/'))))]",
      "dependsOn": [
        "[variables('_dataConnectorId1')]"
      ],
      "location": "[parameters('workspace-location')]",
      "properties": {
        "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectors', variables('_dataConnectorContentId1'))]",
        "contentId": "[variables('_dataConnectorContentId1')]",
        "kind": "DataConnector",
        "version": "[variables('dataConnectorVersion1')]",
        "source": {
          "kind": "Solution",
          "name": "PRODAFT USTA - IoC Threat Intelligence",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "PRODAFT",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "PRODAFT",
          "email": "integration@prodaft.com",
          "tier": "Partner",
          "link": "https://www.prodaft.com"
        }
      }
    },
    {
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentId1'))]",
      "apiVersion": "2021-03-01-preview",
      "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectors",
      "location": "[parameters('workspace-location')]",
      "kind": "GenericUI",
      "properties": {
        "connectorUiConfig": {
          "title": "PRODAFT USTA - IoC Threat Intelligence",
          "publisher": "PRODAFT",
          "descriptionMarkdown": "The PRODAFT USTA IoC Threat Intelligence connector ingests indicators of compromise (malicious URLs, malware hashes, and phishing sites) from the PRODAFT USTA platform into Microsoft Sentinel's Threat Intelligence as STIX indicators via the Upload STIX Objects API. Ingestion is performed by the import playbooks shipped with this solution (one per IoC feed); indicators appear in the Threat Intelligence blade and in the `ThreatIntelIndicators` table with `SourceSystem == 'PRODAFT USTA'`. After installing the solution, deploy and authorize the import playbooks by following the guidance in the Manage solution view.",
          "graphQueries": [
            {
              "metricName": "Total indicators received",
              "legend": "PRODAFT USTA indicators",
              "baseQuery": "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA'"
            }
          ],
          "dataTypes": [
            {
              "name": "ThreatIntelIndicators",
              "lastDataReceivedQuery": "ThreatIntelIndicators | where isnotempty(TimeGenerated) and SourceSystem == 'PRODAFT USTA' | summarize Time = max(TimeGenerated)"
            }
          ],
          "connectivityCriterias": [
            {
              "type": "IsConnectedQuery",
              "value": [
                "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA' | summarize LastLogReceived = max(TimeGenerated) | project IsConnected = LastLogReceived > ago(30d)"
              ]
            }
          ],
          "sampleQueries": [
            {
              "description": "All PRODAFT USTA indicators",
              "query": "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA' | sort by TimeGenerated desc"
            },
            {
              "description": "PRODAFT USTA indicators by type",
              "query": "ThreatIntelIndicators | where SourceSystem == 'PRODAFT USTA' | extend IndicatorType = replace(@'\\[|\\]|\\\"', '', tostring(split(ObservableKey, ':', 0))) | summarize count() by IndicatorType"
            }
          ],
          "availability": {
            "status": 1,
            "isPreview": false
          },
          "permissions": {
            "resourceProvider": [
              {
                "provider": "Microsoft.SecurityInsights/threatintelligence/write",
                "permissionsDisplayText": "read and write permissions to Microsoft Sentinel threat intelligence are required.",
                "providerDisplayName": "Workspace",
                "scope": "Workspace",
                "requiredPermissions": {
                  "write": true,
                  "read": true,
                  "delete": true
                }
              }
            ],
            "customs": [
              {
                "name": "PRODAFT USTA API key",
                "description": "A long-lived PRODAFT USTA API key with access to the Security Intelligence IoC endpoints is required."
              }
            ]
          },
          "instructionSteps": [
            {
              "description": "This connector lands indicators in the `ThreatIntelIndicators` table and the Threat Intelligence blade. Install the Microsoft **Threat Intelligence** solution from the Content hub first, so the blade and the source-agnostic TI-map analytic rules are available.",
              "title": "1. Install the core Threat Intelligence solution"
            },
            {
              "description": "This solution ships three import playbooks — **PRODAFTUstaIoC-ImportMaliciousUrls**, **PRODAFTUstaIoC-ImportMalwareHashes**, and **PRODAFTUstaIoC-ImportPhishingSites** — plus an on-demand **PRODAFTUstaIoC-Backfill** playbook. Deploy them from the Manage solution view (or the Automation blade), supplying your USTA base URL, USTA API key, and the Log Analytics workspace ID.",
              "title": "2. Deploy the PRODAFT USTA import playbooks"
            },
            {
              "description": "Each import playbook uses a system-assigned managed identity to call the Upload STIX Objects API. Grant that identity the **Microsoft Sentinel Contributor** role on the workspace (Log Analytics workspace → Access control (IAM) → Add role assignment). Once granted, the playbooks poll USTA hourly and push new indicators; the connector shows **Connected** after the first indicators arrive.",
              "title": "3. Authorize the playbooks' managed identity"
            }
          ],
          "id": "[variables('_uiConfigId1')]"
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaIoC-ImportMaliciousUrls Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "PRODAFTUstaIoC-ImportMaliciousUrls",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App playbook."
              }
            },
            "UstaBaseUrl": {
              "type": "string",
              "defaultValue": "https://usta.prodaft.com",
              "metadata": {
                "description": "PRODAFT USTA API base URL."
              }
            },
            "UstaApiKey": {
              "type": "securestring",
              "metadata": {
                "description": "PRODAFT USTA long-lived API key."
              }
            },
            "WorkspaceID": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace."
              }
            },
            "LookBackHours": {
              "type": "int",
              "defaultValue": 2,
              "metadata": {
                "description": "Sliding window (hours) fetched on each run. Keep a small overlap over the hourly recurrence; re-uploads are idempotent."
              }
            }
          },
          "variables": {
            "MicrosoftSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('MicrosoftSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
              ],
              "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "PRODAFTUstaIoC-ImportMaliciousUrls",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    },
                    "UstaBaseUrl": {
                      "defaultValue": "[variables('blanks')]",
                      "type": "String"
                    },
                    "UstaApiKey": {
                      "type": "SecureString"
                    },
                    "WorkspaceID": {
                      "type": "String"
                    },
                    "LookBackHours": {
                      "defaultValue": 2,
                      "type": "Int"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Hour",
                        "interval": 1
                      },
                      "runtimeConfiguration": {
                        "concurrency": {
                          "runs": 1
                        }
                      }
                    }
                  },
                  "actions": {
                    "Initialize_NextUrl": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "NextUrl",
                            "type": "string",
                            "value": "@{concat(parameters('UstaBaseUrl'), '/api/threat-stream/v4/security-intelligence/ioc/malicious-urls?ordering=created&size=100&start=', encodeUriComponent(addHours(utcNow(), mul(-1, parameters('LookBackHours')), 'yyyy-MM-ddTHH:mm:ssZ')))}"
                          }
                        ]
                      }
                    },
                    "Until_All_Pages_Processed": {
                      "type": "Until",
                      "expression": "@empty(variables('NextUrl'))",
                      "limit": {
                        "count": 1000,
                        "timeout": "PT1H"
                      },
                      "runAfter": {
                        "Initialize_NextUrl": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Fetch_USTA_Page": {
                          "type": "Http",
                          "runtimeConfiguration": {
                            "secureData": {
                              "properties": [
                                "inputs",
                                "outputs"
                              ]
                            }
                          },
                          "inputs": {
                            "method": "GET",
                            "uri": "@variables('NextUrl')",
                            "headers": {
                              "Accept": "application/json",
                              "Authorization": "Bearer @{parameters('UstaApiKey')}",
                              "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT20S"
                            }
                          }
                        },
                        "If_Page_Has_Records": {
                          "type": "If",
                          "runAfter": {
                            "Update_NextUrl": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(coalesce(body('Fetch_USTA_Page')?['results'], json('[]')))",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Map_To_STIX": {
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Fetch_USTA_Page')?['results']",
                                "select": {
                                  "type": "indicator",
                                  "spec_version": "2.1",
                                  "pattern_type": "stix",
                                  "id": "@concat('indicator--', item()?['id'])",
                                  "name": "@item()?['url']",
                                  "description": "@concat('PRODAFT USTA - Malicious URL. Host: ', coalesce(item()?['host'], ''))",
                                  "pattern": "@if(or(startsWith(item()?['url'], 'http://'), startsWith(item()?['url'], 'https://')), concat('[url:value = ''', item()?['url'], ''']'), if(equals(item()?['is_domain'], true), concat('[domain-name:value = ''', item()?['host'], ''']'), concat('[url:value = ''http://', item()?['url'], ''']')))",
                                  "indicator_types": [
                                    "malicious-activity"
                                  ],
                                  "labels": "@if(empty(item()?['tags']), json('[\"Malicious\"]'), item()?['tags'])",
                                  "confidence": 85,
                                  "valid_from": "@item()?['valid_from']",
                                  "valid_until": "@item()?['valid_until']",
                                  "created": "@item()?['created']",
                                  "modified": "@utcNow()",
                                  "object_marking_refs": [
                                    "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82"
                                  ]
                                }
                              }
                            },
                            "Upload_STIX_Objects": {
                              "type": "ApiConnection",
                              "runAfter": {
                                "Map_To_STIX": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "stixobjects": "@body('Map_To_STIX')",
                                  "sourcesystem": "PRODAFT USTA"
                                },
                                "path": "/ThreatIntelligence/@{encodeURIComponent(uriComponent(parameters('WorkspaceID')))}/UploadStixObjects/",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 3,
                                  "interval": "PT20S"
                                }
                              }
                            }
                          }
                        },
                        "Update_NextUrl": {
                          "type": "SetVariable",
                          "runAfter": {
                            "Fetch_USTA_Page": [
                              "Succeeded",
                              "Failed",
                              "Skipped",
                              "TimedOut"
                            ]
                          },
                          "inputs": {
                            "name": "NextUrl",
                            "value": "@coalesce(body('Fetch_USTA_Page')?['next'], '')"
                          }
                        }
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                        "connectionName": "[[variables('MicrosoftSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  },
                  "UstaBaseUrl": {
                    "value": "[[parameters('UstaBaseUrl')]"
                  },
                  "UstaApiKey": {
                    "value": "[[parameters('UstaApiKey')]"
                  },
                  "WorkspaceID": {
                    "value": "[[parameters('WorkspaceID')]"
                  },
                  "LookBackHours": {
                    "value": "[[parameters('LookBackHours')]"
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "PRODAFT USTA - Import Malicious URLs",
            "description": "Polls the PRODAFT USTA malicious-URL IoC feed hourly, maps each record to a STIX 2.1 indicator, and uploads it to Microsoft Sentinel Threat Intelligence via the Upload STIX Objects API. Indicators appear in the Threat Intelligence blade and the ThreatIntelIndicators table with SourceSystem 'PRODAFT USTA'. Re-uploads are idempotent (deterministic STIX ids), so the sliding poll window is safe.",
            "prerequisites": [
              "1. A PRODAFT USTA long-lived API key with access to the Security Intelligence IoC endpoints.",
              "2. The Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace.",
              "3. The core 'Threat Intelligence' solution installed from the Content hub (provides the Threat Intelligence blade and the ThreatIntelIndicators table)."
            ],
            "postDeployment": [
              "1. Grant the playbook's system-assigned managed identity the 'Microsoft Sentinel Contributor' role on the Log Analytics workspace (Access control (IAM) -> Add role assignment). This is required for the Upload STIX Objects call.",
              "2. Optionally adjust the Recurrence frequency and the LookBackHours parameter."
            ],
            "lastUpdateTime": "2026-07-08T00:00:00Z",
            "entities": [
              "url",
              "dnsresolution"
            ],
            "tags": [
              "ThreatIntelligence"
            ],
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "PRODAFTUstaIoC-ImportMaliciousUrls",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName2')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaIoC-ImportMalwareHashes Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion2')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "PRODAFTUstaIoC-ImportMalwareHashes",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App playbook."
              }
            },
            "UstaBaseUrl": {
              "type": "string",
              "defaultValue": "https://usta.prodaft.com",
              "metadata": {
                "description": "PRODAFT USTA API base URL."
              }
            },
            "UstaApiKey": {
              "type": "securestring",
              "metadata": {
                "description": "PRODAFT USTA long-lived API key."
              }
            },
            "WorkspaceID": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace."
              }
            },
            "LookBackHours": {
              "type": "int",
              "defaultValue": 2,
              "metadata": {
                "description": "Sliding window (hours) fetched on each run. Keep a small overlap over the hourly recurrence; re-uploads are idempotent."
              }
            }
          },
          "variables": {
            "MicrosoftSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('MicrosoftSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
              ],
              "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "PRODAFTUstaIoC-ImportMalwareHashes",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    },
                    "UstaBaseUrl": {
                      "defaultValue": "[variables('blanks')]",
                      "type": "String"
                    },
                    "UstaApiKey": {
                      "type": "SecureString"
                    },
                    "WorkspaceID": {
                      "type": "String"
                    },
                    "LookBackHours": {
                      "defaultValue": 2,
                      "type": "Int"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Hour",
                        "interval": 1
                      },
                      "runtimeConfiguration": {
                        "concurrency": {
                          "runs": 1
                        }
                      }
                    }
                  },
                  "actions": {
                    "Initialize_NextUrl": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "NextUrl",
                            "type": "string",
                            "value": "@{concat(parameters('UstaBaseUrl'), '/api/threat-stream/v4/security-intelligence/ioc/malware-hashes?ordering=created&size=100&start=', encodeUriComponent(addHours(utcNow(), mul(-1, parameters('LookBackHours')), 'yyyy-MM-ddTHH:mm:ssZ')))}"
                          }
                        ]
                      }
                    },
                    "Until_All_Pages_Processed": {
                      "type": "Until",
                      "expression": "@empty(variables('NextUrl'))",
                      "limit": {
                        "count": 1000,
                        "timeout": "PT1H"
                      },
                      "runAfter": {
                        "Initialize_NextUrl": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Fetch_USTA_Page": {
                          "type": "Http",
                          "runtimeConfiguration": {
                            "secureData": {
                              "properties": [
                                "inputs",
                                "outputs"
                              ]
                            }
                          },
                          "inputs": {
                            "method": "GET",
                            "uri": "@variables('NextUrl')",
                            "headers": {
                              "Accept": "application/json",
                              "Authorization": "Bearer @{parameters('UstaApiKey')}",
                              "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT20S"
                            }
                          }
                        },
                        "If_Page_Has_Records": {
                          "type": "If",
                          "runAfter": {
                            "Update_NextUrl": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(coalesce(body('Fetch_USTA_Page')?['results'], json('[]')))",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Map_To_STIX": {
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Fetch_USTA_Page')?['results']",
                                "select": {
                                  "type": "indicator",
                                  "spec_version": "2.1",
                                  "pattern_type": "stix",
                                  "id": "@concat('indicator--', item()?['id'])",
                                  "name": "@coalesce(item()?['hashes']?['sha256'], item()?['hashes']?['sha1'], item()?['hashes']?['md5'])",
                                  "description": "PRODAFT USTA - Malware file hash",
                                  "pattern": "@concat('[file:hashes.''MD5'' = ''', item()?['hashes']?['md5'], ''' OR file:hashes.''SHA-1'' = ''', item()?['hashes']?['sha1'], ''' OR file:hashes.''SHA-256'' = ''', item()?['hashes']?['sha256'], ''']')",
                                  "indicator_types": [
                                    "malicious-activity"
                                  ],
                                  "labels": "@if(empty(item()?['tags']), json('[\"Malware\"]'), item()?['tags'])",
                                  "confidence": 90,
                                  "valid_from": "@item()?['valid_from']",
                                  "valid_until": "@item()?['valid_until']",
                                  "created": "@item()?['created']",
                                  "modified": "@utcNow()",
                                  "object_marking_refs": [
                                    "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82"
                                  ]
                                }
                              }
                            },
                            "Upload_STIX_Objects": {
                              "type": "ApiConnection",
                              "runAfter": {
                                "Map_To_STIX": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "stixobjects": "@body('Map_To_STIX')",
                                  "sourcesystem": "PRODAFT USTA"
                                },
                                "path": "/ThreatIntelligence/@{encodeURIComponent(uriComponent(parameters('WorkspaceID')))}/UploadStixObjects/",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 3,
                                  "interval": "PT20S"
                                }
                              }
                            }
                          }
                        },
                        "Update_NextUrl": {
                          "type": "SetVariable",
                          "runAfter": {
                            "Fetch_USTA_Page": [
                              "Succeeded",
                              "Failed",
                              "Skipped",
                              "TimedOut"
                            ]
                          },
                          "inputs": {
                            "name": "NextUrl",
                            "value": "@coalesce(body('Fetch_USTA_Page')?['next'], '')"
                          }
                        }
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                        "connectionName": "[[variables('MicrosoftSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  },
                  "UstaBaseUrl": {
                    "value": "[[parameters('UstaBaseUrl')]"
                  },
                  "UstaApiKey": {
                    "value": "[[parameters('UstaApiKey')]"
                  },
                  "WorkspaceID": {
                    "value": "[[parameters('WorkspaceID')]"
                  },
                  "LookBackHours": {
                    "value": "[[parameters('LookBackHours')]"
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId2'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId2')]",
                "contentId": "[variables('_playbookContentId2')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion2')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "PRODAFT USTA - Import Malware Hashes",
            "description": "Polls the PRODAFT USTA malware-hash IoC feed hourly, maps each record to a STIX 2.1 file indicator (MD5/SHA-1/SHA-256), and uploads it to Microsoft Sentinel Threat Intelligence via the Upload STIX Objects API. Indicators appear in the Threat Intelligence blade and the ThreatIntelIndicators table with SourceSystem 'PRODAFT USTA'. Re-uploads are idempotent (deterministic STIX ids).",
            "prerequisites": [
              "1. A PRODAFT USTA long-lived API key with access to the Security Intelligence IoC endpoints.",
              "2. The Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace.",
              "3. The core 'Threat Intelligence' solution installed from the Content hub (provides the Threat Intelligence blade and the ThreatIntelIndicators table)."
            ],
            "postDeployment": [
              "1. Grant the playbook's system-assigned managed identity the 'Microsoft Sentinel Contributor' role on the Log Analytics workspace (Access control (IAM) -> Add role assignment). This is required for the Upload STIX Objects call.",
              "2. Optionally adjust the Recurrence frequency and the LookBackHours parameter."
            ],
            "lastUpdateTime": "2026-07-08T00:00:00Z",
            "entities": [
              "filehash"
            ],
            "tags": [
              "ThreatIntelligence"
            ],
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId2')]",
        "contentKind": "Playbook",
        "displayName": "PRODAFTUstaIoC-ImportMalwareHashes",
        "contentProductId": "[variables('_playbookcontentProductId2')]",
        "id": "[variables('_playbookcontentProductId2')]",
        "version": "[variables('playbookVersion2')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName3')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaIoC-ImportPhishingSites Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion3')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "PRODAFTUstaIoC-ImportPhishingSites",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App playbook."
              }
            },
            "UstaBaseUrl": {
              "type": "string",
              "defaultValue": "https://usta.prodaft.com",
              "metadata": {
                "description": "PRODAFT USTA API base URL."
              }
            },
            "UstaApiKey": {
              "type": "securestring",
              "metadata": {
                "description": "PRODAFT USTA long-lived API key."
              }
            },
            "WorkspaceID": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace."
              }
            },
            "LookBackHours": {
              "type": "int",
              "defaultValue": 2,
              "metadata": {
                "description": "Sliding window (hours) fetched on each run. Keep a small overlap over the hourly recurrence; re-uploads are idempotent."
              }
            },
            "ValidityDays": {
              "type": "int",
              "defaultValue": 7,
              "metadata": {
                "description": "Validity window (days) applied to phishing indicators from their created date, since the feed has no expiry."
              }
            }
          },
          "variables": {
            "MicrosoftSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('MicrosoftSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
              ],
              "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "PRODAFTUstaIoC-ImportPhishingSites",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    },
                    "UstaBaseUrl": {
                      "defaultValue": "[variables('blanks')]",
                      "type": "String"
                    },
                    "UstaApiKey": {
                      "type": "SecureString"
                    },
                    "WorkspaceID": {
                      "type": "String"
                    },
                    "LookBackHours": {
                      "defaultValue": 2,
                      "type": "Int"
                    },
                    "ValidityDays": {
                      "defaultValue": 7,
                      "type": "Int"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Hour",
                        "interval": 1
                      },
                      "runtimeConfiguration": {
                        "concurrency": {
                          "runs": 1
                        }
                      }
                    }
                  },
                  "actions": {
                    "Initialize_NextUrl": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "NextUrl",
                            "type": "string",
                            "value": "@{concat(parameters('UstaBaseUrl'), '/api/threat-stream/v4/security-intelligence/ioc/phishing-sites?ordering=created&size=100&start=', encodeUriComponent(addHours(utcNow(), mul(-1, parameters('LookBackHours')), 'yyyy-MM-ddTHH:mm:ssZ')))}"
                          }
                        ]
                      }
                    },
                    "Until_All_Pages_Processed": {
                      "type": "Until",
                      "expression": "@empty(variables('NextUrl'))",
                      "limit": {
                        "count": 1000,
                        "timeout": "PT1H"
                      },
                      "runAfter": {
                        "Initialize_NextUrl": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Fetch_USTA_Page": {
                          "type": "Http",
                          "runtimeConfiguration": {
                            "secureData": {
                              "properties": [
                                "inputs",
                                "outputs"
                              ]
                            }
                          },
                          "inputs": {
                            "method": "GET",
                            "uri": "@variables('NextUrl')",
                            "headers": {
                              "Accept": "application/json",
                              "Authorization": "Bearer @{parameters('UstaApiKey')}",
                              "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT20S"
                            }
                          }
                        },
                        "If_Page_Has_Records": {
                          "type": "If",
                          "runAfter": {
                            "Update_NextUrl": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(coalesce(body('Fetch_USTA_Page')?['results'], json('[]')))",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Map_To_STIX": {
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Fetch_USTA_Page')?['results']",
                                "select": {
                                  "type": "indicator",
                                  "spec_version": "2.1",
                                  "pattern_type": "stix",
                                  "id": "@concat('indicator--00000000-0000-5000-8000-', substring(concat('000000000000', string(item()?['id'])), sub(length(concat('000000000000', string(item()?['id']))), 12), 12))",
                                  "name": "@item()?['url']",
                                  "description": "@concat('PRODAFT USTA - Phishing site. Country: ', coalesce(item()?['country'], 'unknown'))",
                                  "pattern": "@if(or(startsWith(item()?['url'], 'http://'), startsWith(item()?['url'], 'https://')), concat('[url:value = ''', item()?['url'], ''']'), if(equals(item()?['is_domain'], true), concat('[domain-name:value = ''', item()?['host'], ''']'), concat('[url:value = ''http://', item()?['url'], ''']')))",
                                  "indicator_types": [
                                    "phishing"
                                  ],
                                  "labels": "@createArray('phishing', concat('country:', coalesce(item()?['country'], 'unknown')))",
                                  "confidence": 80,
                                  "valid_from": "@item()?['created']",
                                  "valid_until": "@addDays(item()?['created'], parameters('ValidityDays'))",
                                  "created": "@item()?['created']",
                                  "modified": "@utcNow()",
                                  "object_marking_refs": [
                                    "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82"
                                  ]
                                }
                              }
                            },
                            "Upload_STIX_Objects": {
                              "type": "ApiConnection",
                              "runAfter": {
                                "Map_To_STIX": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "stixobjects": "@body('Map_To_STIX')",
                                  "sourcesystem": "PRODAFT USTA"
                                },
                                "path": "/ThreatIntelligence/@{encodeURIComponent(uriComponent(parameters('WorkspaceID')))}/UploadStixObjects/",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 3,
                                  "interval": "PT20S"
                                }
                              }
                            }
                          }
                        },
                        "Update_NextUrl": {
                          "type": "SetVariable",
                          "runAfter": {
                            "Fetch_USTA_Page": [
                              "Succeeded",
                              "Failed",
                              "Skipped",
                              "TimedOut"
                            ]
                          },
                          "inputs": {
                            "name": "NextUrl",
                            "value": "@coalesce(body('Fetch_USTA_Page')?['next'], '')"
                          }
                        }
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                        "connectionName": "[[variables('MicrosoftSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  },
                  "UstaBaseUrl": {
                    "value": "[[parameters('UstaBaseUrl')]"
                  },
                  "UstaApiKey": {
                    "value": "[[parameters('UstaApiKey')]"
                  },
                  "WorkspaceID": {
                    "value": "[[parameters('WorkspaceID')]"
                  },
                  "LookBackHours": {
                    "value": "[[parameters('LookBackHours')]"
                  },
                  "ValidityDays": {
                    "value": "[[parameters('ValidityDays')]"
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId3'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId3')]",
                "contentId": "[variables('_playbookContentId3')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion3')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "PRODAFT USTA - Import Phishing Sites",
            "description": "Polls the PRODAFT USTA phishing-site IoC feed hourly, maps each record to a STIX 2.1 indicator, and uploads it to Microsoft Sentinel Threat Intelligence via the Upload STIX Objects API. This feed has no expiry, so a validity window (default 7 days) is synthesized from each site's created date. Indicators appear in the Threat Intelligence blade and the ThreatIntelIndicators table with SourceSystem 'PRODAFT USTA'. Re-uploads are idempotent (deterministic STIX ids derived from the feed id).",
            "prerequisites": [
              "1. A PRODAFT USTA long-lived API key with access to the Security Intelligence IoC endpoints.",
              "2. The Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace.",
              "3. The core 'Threat Intelligence' solution installed from the Content hub (provides the Threat Intelligence blade and the ThreatIntelIndicators table)."
            ],
            "postDeployment": [
              "1. Grant the playbook's system-assigned managed identity the 'Microsoft Sentinel Contributor' role on the Log Analytics workspace (Access control (IAM) -> Add role assignment). This is required for the Upload STIX Objects call.",
              "2. Optionally adjust the Recurrence frequency and the LookBackHours parameter."
            ],
            "lastUpdateTime": "2026-07-08T00:00:00Z",
            "entities": [
              "url",
              "dnsresolution"
            ],
            "tags": [
              "ThreatIntelligence"
            ],
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId3')]",
        "contentKind": "Playbook",
        "displayName": "PRODAFTUstaIoC-ImportPhishingSites",
        "contentProductId": "[variables('_playbookcontentProductId3')]",
        "id": "[variables('_playbookcontentProductId3')]",
        "version": "[variables('playbookVersion3')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName4')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaIoC-Backfill Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion4')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "PRODAFTUstaIoC-Backfill",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App playbook."
              }
            },
            "UstaBaseUrl": {
              "type": "string",
              "defaultValue": "https://usta.prodaft.com",
              "metadata": {
                "description": "PRODAFT USTA API base URL."
              }
            },
            "UstaApiKey": {
              "type": "securestring",
              "metadata": {
                "description": "PRODAFT USTA long-lived API key."
              }
            },
            "WorkspaceID": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace."
              }
            },
            "Feed": {
              "type": "string",
              "defaultValue": "malicious-urls",
              "allowedValues": [
                "malicious-urls",
                "malware-hashes",
                "phishing-sites"
              ],
              "metadata": {
                "description": "Which USTA IoC feed to backfill."
              }
            },
            "BackfillDays": {
              "type": "int",
              "defaultValue": 30,
              "metadata": {
                "description": "Number of days of history to backfill."
              }
            },
            "ValidityDays": {
              "type": "int",
              "defaultValue": 7,
              "metadata": {
                "description": "Validity window (days) applied to phishing indicators from their created date, since the feed has no expiry."
              }
            }
          },
          "variables": {
            "MicrosoftSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('MicrosoftSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
              ],
              "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "PRODAFTUstaIoC-Backfill",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    },
                    "UstaBaseUrl": {
                      "defaultValue": "[variables('blanks')]",
                      "type": "String"
                    },
                    "UstaApiKey": {
                      "type": "SecureString"
                    },
                    "WorkspaceID": {
                      "type": "String"
                    },
                    "Feed": {
                      "defaultValue": "malicious-urls",
                      "type": "String"
                    },
                    "BackfillDays": {
                      "defaultValue": 30,
                      "type": "Int"
                    },
                    "ValidityDays": {
                      "defaultValue": 7,
                      "type": "Int"
                    }
                  },
                  "triggers": {
                    "manual": {
                      "type": "Request",
                      "kind": "Http"
                    }
                  },
                  "actions": {
                    "Initialize_Collected": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "collectedIndicators",
                            "type": "array",
                            "value": "[variables('TemplateEmptyArray')]"
                          }
                        ]
                      }
                    },
                    "Initialize_NextUrl": {
                      "type": "InitializeVariable",
                      "runAfter": {
                        "Initialize_Collected": [
                          "Succeeded"
                        ]
                      },
                      "inputs": {
                        "variables": [
                          {
                            "name": "NextUrl",
                            "type": "string",
                            "value": "@{concat(parameters('UstaBaseUrl'), '/api/threat-stream/v4/security-intelligence/ioc/', parameters('Feed'), '?ordering=created&size=100&start=', encodeUriComponent(addDays(utcNow(), mul(-1, parameters('BackfillDays')), 'yyyy-MM-ddTHH:mm:ssZ')))}"
                          }
                        ]
                      }
                    },
                    "Until_All_Pages_Processed": {
                      "type": "Until",
                      "expression": "@empty(variables('NextUrl'))",
                      "limit": {
                        "count": 5000,
                        "timeout": "PT4H"
                      },
                      "runAfter": {
                        "Initialize_NextUrl": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Fetch_USTA_Page": {
                          "type": "Http",
                          "runtimeConfiguration": {
                            "secureData": {
                              "properties": [
                                "inputs",
                                "outputs"
                              ]
                            }
                          },
                          "inputs": {
                            "method": "GET",
                            "uri": "@variables('NextUrl')",
                            "headers": {
                              "Accept": "application/json",
                              "Authorization": "Bearer @{parameters('UstaApiKey')}",
                              "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT20S"
                            }
                          }
                        },
                        "If_Page_Has_Records": {
                          "type": "If",
                          "runAfter": {
                            "Update_NextUrl": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(coalesce(body('Fetch_USTA_Page')?['results'], json('[]')))",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Switch_Feed": {
                              "type": "Switch",
                              "expression": "@parameters('Feed')",
                              "cases": {
                                "Case_MaliciousUrls": {
                                  "case": "malicious-urls",
                                  "actions": {
                                    "Map_Urls": {
                                      "type": "Select",
                                      "inputs": {
                                        "from": "@body('Fetch_USTA_Page')?['results']",
                                        "select": {
                                          "type": "indicator",
                                          "spec_version": "2.1",
                                          "pattern_type": "stix",
                                          "id": "@concat('indicator--', item()?['id'])",
                                          "name": "@item()?['url']",
                                          "description": "@concat('PRODAFT USTA - Malicious URL. Host: ', coalesce(item()?['host'], ''))",
                                          "pattern": "@if(or(startsWith(item()?['url'], 'http://'), startsWith(item()?['url'], 'https://')), concat('[url:value = ''', item()?['url'], ''']'), if(equals(item()?['is_domain'], true), concat('[domain-name:value = ''', item()?['host'], ''']'), concat('[url:value = ''http://', item()?['url'], ''']')))",
                                          "indicator_types": [
                                            "malicious-activity"
                                          ],
                                          "labels": "@if(empty(item()?['tags']), json('[\"Malicious\"]'), item()?['tags'])",
                                          "confidence": 85,
                                          "valid_from": "@item()?['valid_from']",
                                          "valid_until": "@item()?['valid_until']",
                                          "created": "@item()?['created']",
                                          "modified": "@utcNow()",
                                          "object_marking_refs": [
                                            "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82"
                                          ]
                                        }
                                      }
                                    },
                                    "Set_Collected_Urls": {
                                      "type": "SetVariable",
                                      "runAfter": {
                                        "Map_Urls": [
                                          "Succeeded"
                                        ]
                                      },
                                      "inputs": {
                                        "name": "collectedIndicators",
                                        "value": "@body('Map_Urls')"
                                      }
                                    }
                                  }
                                },
                                "Case_MalwareHashes": {
                                  "case": "malware-hashes",
                                  "actions": {
                                    "Map_Hashes": {
                                      "type": "Select",
                                      "inputs": {
                                        "from": "@body('Fetch_USTA_Page')?['results']",
                                        "select": {
                                          "type": "indicator",
                                          "spec_version": "2.1",
                                          "pattern_type": "stix",
                                          "id": "@concat('indicator--', item()?['id'])",
                                          "name": "@coalesce(item()?['hashes']?['sha256'], item()?['hashes']?['sha1'], item()?['hashes']?['md5'])",
                                          "description": "PRODAFT USTA - Malware file hash",
                                          "pattern": "@concat('[file:hashes.''MD5'' = ''', item()?['hashes']?['md5'], ''' OR file:hashes.''SHA-1'' = ''', item()?['hashes']?['sha1'], ''' OR file:hashes.''SHA-256'' = ''', item()?['hashes']?['sha256'], ''']')",
                                          "indicator_types": [
                                            "malicious-activity"
                                          ],
                                          "labels": "@if(empty(item()?['tags']), json('[\"Malware\"]'), item()?['tags'])",
                                          "confidence": 90,
                                          "valid_from": "@item()?['valid_from']",
                                          "valid_until": "@item()?['valid_until']",
                                          "created": "@item()?['created']",
                                          "modified": "@utcNow()",
                                          "object_marking_refs": [
                                            "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82"
                                          ]
                                        }
                                      }
                                    },
                                    "Set_Collected_Hashes": {
                                      "type": "SetVariable",
                                      "runAfter": {
                                        "Map_Hashes": [
                                          "Succeeded"
                                        ]
                                      },
                                      "inputs": {
                                        "name": "collectedIndicators",
                                        "value": "@body('Map_Hashes')"
                                      }
                                    }
                                  }
                                },
                                "Case_PhishingSites": {
                                  "case": "phishing-sites",
                                  "actions": {
                                    "Map_Phishing": {
                                      "type": "Select",
                                      "inputs": {
                                        "from": "@body('Fetch_USTA_Page')?['results']",
                                        "select": {
                                          "type": "indicator",
                                          "spec_version": "2.1",
                                          "pattern_type": "stix",
                                          "id": "@concat('indicator--00000000-0000-5000-8000-', substring(concat('000000000000', string(item()?['id'])), sub(length(concat('000000000000', string(item()?['id']))), 12), 12))",
                                          "name": "@item()?['url']",
                                          "description": "@concat('PRODAFT USTA - Phishing site. Country: ', coalesce(item()?['country'], 'unknown'))",
                                          "pattern": "@if(or(startsWith(item()?['url'], 'http://'), startsWith(item()?['url'], 'https://')), concat('[url:value = ''', item()?['url'], ''']'), if(equals(item()?['is_domain'], true), concat('[domain-name:value = ''', item()?['host'], ''']'), concat('[url:value = ''http://', item()?['url'], ''']')))",
                                          "indicator_types": [
                                            "phishing"
                                          ],
                                          "labels": "@createArray('phishing', concat('country:', coalesce(item()?['country'], 'unknown')))",
                                          "confidence": 80,
                                          "valid_from": "@item()?['created']",
                                          "valid_until": "@addDays(item()?['created'], parameters('ValidityDays'))",
                                          "created": "@item()?['created']",
                                          "modified": "@utcNow()",
                                          "object_marking_refs": [
                                            "marking-definition--f88d31f6-486f-44da-b317-01333bde0b82"
                                          ]
                                        }
                                      }
                                    },
                                    "Set_Collected_Phishing": {
                                      "type": "SetVariable",
                                      "runAfter": {
                                        "Map_Phishing": [
                                          "Succeeded"
                                        ]
                                      },
                                      "inputs": {
                                        "name": "collectedIndicators",
                                        "value": "@body('Map_Phishing')"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "Upload_STIX_Objects": {
                              "type": "ApiConnection",
                              "runAfter": {
                                "Switch_Feed": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "stixobjects": "@variables('collectedIndicators')",
                                  "sourcesystem": "PRODAFT USTA"
                                },
                                "path": "/ThreatIntelligence/@{encodeURIComponent(uriComponent(parameters('WorkspaceID')))}/UploadStixObjects/",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 3,
                                  "interval": "PT20S"
                                }
                              }
                            }
                          }
                        },
                        "Update_NextUrl": {
                          "type": "SetVariable",
                          "runAfter": {
                            "Fetch_USTA_Page": [
                              "Succeeded",
                              "Failed",
                              "Skipped",
                              "TimedOut"
                            ]
                          },
                          "inputs": {
                            "name": "NextUrl",
                            "value": "@coalesce(body('Fetch_USTA_Page')?['next'], '')"
                          }
                        }
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                        "connectionName": "[[variables('MicrosoftSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  },
                  "UstaBaseUrl": {
                    "value": "[[parameters('UstaBaseUrl')]"
                  },
                  "UstaApiKey": {
                    "value": "[[parameters('UstaApiKey')]"
                  },
                  "WorkspaceID": {
                    "value": "[[parameters('WorkspaceID')]"
                  },
                  "Feed": {
                    "value": "[[parameters('Feed')]"
                  },
                  "BackfillDays": {
                    "value": "[[parameters('BackfillDays')]"
                  },
                  "ValidityDays": {
                    "value": "[[parameters('ValidityDays')]"
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId4'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId4')]",
                "contentId": "[variables('_playbookContentId4')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion4')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - IoC Threat Intelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "PRODAFT USTA - IoC Backfill",
            "description": "On-demand backfill playbook for the PRODAFT USTA - IoC Threat Intelligence solution. Pages a chosen USTA IoC feed (malicious-urls, malware-hashes, or phishing-sites) over a historical window, maps each record to a STIX 2.1 indicator, and uploads it to Microsoft Sentinel Threat Intelligence via the Upload STIX Objects API. The import playbooks only poll forward; run this once per feed after connecting to load history. Re-uploads are idempotent (deterministic STIX ids).",
            "prerequisites": [
              "1. A PRODAFT USTA long-lived API key with access to the Security Intelligence IoC endpoints.",
              "2. The Log Analytics workspace ID (GUID) of the Microsoft Sentinel workspace.",
              "3. The core 'Threat Intelligence' solution installed and the PRODAFT USTA import playbooks deployed."
            ],
            "postDeployment": [
              "1. Grant the playbook's system-assigned managed identity the 'Microsoft Sentinel Contributor' role on the Log Analytics workspace.",
              "2. Run the trigger once for each feed you want to backfill (set the Feed parameter accordingly), then optionally disable or delete the playbook."
            ],
            "lastUpdateTime": "2026-07-08T00:00:00Z",
            "entities": [
              "url",
              "filehash",
              "dnsresolution"
            ],
            "tags": [
              "Backfill",
              "ThreatIntelligence"
            ],
            "releaseNotes": {
              "version": "1.0",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId4')]",
        "contentKind": "Playbook",
        "displayName": "PRODAFTUstaIoC-Backfill",
        "contentProductId": "[variables('_playbookcontentProductId4')]",
        "id": "[variables('_playbookcontentProductId4')]",
        "version": "[variables('playbookVersion4')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "3.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "PRODAFT USTA - IoC Threat Intelligence",
        "publisherDisplayName": "PRODAFT",
        "descriptionHtml": "<p><strong>Note:</strong> Please refer to the following before installing the solution:</p>\n<p>• Review the solution <a href=\"https://github.com/Azure/Azure-Sentinel/tree/master/Solutions/PRODAFT%20USTA%20-%20IoC%20Threat%20Intelligence/ReleaseNotes.md\">Release Notes</a></p>\n<p>• There may be <a href=\"https://aka.ms/sentinelsolutionsknownissues\">known issues</a> pertaining to this Solution, please refer to them before installing.</p>\n<p>The <strong>PRODAFT USTA - IoC Threat Intelligence</strong> solution ingests indicators of compromise (malicious URLs, malware hashes, and phishing sites) from the PRODAFT USTA platform into Microsoft Sentinel <strong>Threat Intelligence</strong> as STIX 2.1 indicators via the Upload STIX Objects API. Ingestion is performed by import playbooks (one per IoC feed) using a system-assigned managed identity; indicators appear in the Threat Intelligence blade and the <code>ThreatIntelIndicators</code> table with <code>SourceSystem == 'PRODAFT USTA'</code>. Includes three TI-map analytic rules that match ingested indicators against your logs, an overview workbook, and an on-demand backfill playbook for loading historical indicators.</p>\n<p><strong>Data Connectors:</strong> 1, <strong>Workbooks:</strong> 1, <strong>Analytic Rules:</strong> 3, <strong>Playbooks:</strong> 4</p>\n<p><a href=\"https://aka.ms/azuresentinel\">Learn more about Microsoft Sentinel</a> | <a href=\"https://aka.ms/azuresentinelsolutionsdoc\">Learn more about Solutions</a></p>\n",
        "contentKind": "Solution",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/PRODAFTUstaIoC.svg\" width=\"75px\" height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "PRODAFT USTA - IoC Threat Intelligence",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "PRODAFT",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "PRODAFT",
          "email": "integration@prodaft.com",
          "tier": "Partner",
          "link": "https://www.prodaft.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Workbook",
              "contentId": "[variables('_workbookContentId1')]",
              "version": "[variables('workbookVersion1')]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
              "version": "[variables('analyticRuleObject3').analyticRuleVersion3]"
            },
            {
              "kind": "DataConnector",
              "contentId": "[variables('_dataConnectorContentId1')]",
              "version": "[variables('dataConnectorVersion1')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_PRODAFTUstaIoC-ImportMaliciousUrls')]",
              "version": "[variables('playbookVersion1')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_PRODAFTUstaIoC-ImportMalwareHashes')]",
              "version": "[variables('playbookVersion2')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_PRODAFTUstaIoC-ImportPhishingSites')]",
              "version": "[variables('playbookVersion3')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_PRODAFTUstaIoC-Backfill')]",
              "version": "[variables('playbookVersion4')]"
            }
          ]
        },
        "firstPublishDate": "2026-07-08",
        "providers": [
          "PRODAFT"
        ],
        "categories": {
          "domains": [
            "Security - Threat Intelligence"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}
